.App {
  text-align: center;
}

body{
  background-color: #e9e2e2;
}

.App button {
  margin-top: 5%;
  margin-bottom: 15%;
  color: rgb(0, 0, 0);
  font-size: large;
  background-color: rgba(75, 75, 75, 0.151);
}

.App button :hover{
  color: rgb(243, 243, 243);
  background-color: rgb(29, 29, 29);
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
  font-weight: bolder;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #cecece;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.App h4{
  margin: 5%;
}
.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
